<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="This is a styleguide">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pages Overview</title>

    <!-- Style sheets -->
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/styleguide.css"/>

</head>

<body>

    <main role="main">

        {% block content %}{% endblock %}

    </main>

    <script src="./js/main.js"></script>

</body>

</html>