{% extends '../base/layout.html' %}

{% set title = templates.home.title %}
{% set page = 'example' %}

{% block content %}

    <h1>{{ templates.home.title }}</h1>
    <p>{{ templates.home.subtitle }}</p>

    <div class="app">
        <div class="profile">
            <div class="avatar">
                <img :src="user.avatar" alt="{{ user.firstName }}">
            </div>
            <p><span :text="fullName"></span></p>
        </div>
        <ul class="moments" :if="moments.length">
            <li :each="moment in moments" :show="moment.show">
                {{ moment.content }}
                <p><span :text="fullName"></span></p>
            </li>
        </ul>
    </div>

    {% atom button( { title: 'test' } ) %}

{% endblock %}