{% extends '../base/layout.html' %}

{% set title = templates.home.title %}
{% set page = 'example' %}

{% block content %}

    <h1>Woonenergie product test</h1>
    {% raw %}
    <div class="app">
        <img alt="{{ gasValue }}">
        <div class="calculation__item-row" o-if="gasValue">
            <span class="calculation__item-price">&euro; {{ tariff.gasTariffExtended.totalSum }}</span>
        </div>
        <div class="calculation__item-row" o-if="gasValue">
            <span class="calculation__item-description">
                &euro; <span :text="tariff.gasTariffExtended.tariff"></span> x <span :text="gasValue"></span> m³
            </span>
        </div>

    </div>

    {% endraw %}

{% endblock %}