// 
//  Styleguide colors
//
$styleguideColor: #2c2442;
$styleguideHighlight: #4b337e;
$styleguideSearchColor: #643da6;
$styleguideNavFontColor: #9c9fae;

//
// Styleguide widths
//
$styleguideNavigationWidth: 16rem;

//
// Styleguide padding
//
$styleguideContentPadding: 2rem;
